<html>

    <head>
        <title>Login</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
        <script src="assets/loginss.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        
        <div id="todo-table2">
            
            <form method="post" id="regForm" action='/login'>
                <h2>Login</h2>
                <input type="regForm" id="username" name="username" placeholder="Enter username..." required />
                <input type="regForm" id="password" name="password" placeholder="Enter password..." required />
                <button id="loginSubmit" type="submit">Login</button>
            </form>
           
        </div>
    </body>

</html>