<html>

    <head>
        <title>Register</title>
        <link rel="icon" type="image/png" href="/assets/1.png" />
        <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
        <script src="assets/registration.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="login-page">
            <div class="header">
                <% include nav.ejs %>

                <div class="logo"></div>
                <span id="hello">Todo List</span>

            </div>
           
            <div class="mid-header">
            </div>
            <div class="login-page-bg"></div>
        <div id="todo-table2">
            
            <form method="post" id="regForm">
                <h2>Register</h2>
                <input type="regForm" id="username" name="username" placeholder="Enter username..." pattern=".{6,}" required />
                <div class="userMsg" id="userMsg">
                        Username must be at least 6 characters 
                </div>
                <input type="password" id="password" name="password" pattern=".{6,}" placeholder="Enter password..." title="Password should be 6 or more letters" required />
                <div class="pwMsg" id="pwMsg">
                        Password must be at least 6 characters 
                </div>
                <input type="regForm" id="firstname" name="firstname" placeholder="Enter first name..." required />
                <input type="regForm" id="lastname" name="lastname" placeholder="Enter last name..." required />
                <button type="submit" id="regButton">Register</button>
            </form>
           
        </div>
      </div>
    </body>

</html>

<!--
<script>
var myInput1 = document.getElementById("password");
var myInput2 = document.getElementById("username");
myInput1.onfocus = function() {
  document.getElementById("pwMsg").style.display = "block";
}

myInput1.onblur = function() {
  document.getElementById("pwMsg").style.display = "none";
}

myInput2.onfocus = function() {
  document.getElementById("userMsg").style.display = "block";
}

myInput2.onblur = function() {
  document.getElementById("userMsg").style.display = "none";
}
</script>
-->