<html>

    <head>
        <title>Register</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
        <script src="assets/registration.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        
        <div id="todo-table2">
            
            <form method="post" id="regForm">
                <h2>Register</h2>
                <input type="regForm" id="username" name="username" placeholder="Enter username..." required />
                <input type="regForm" id="password" name="password" placeholder="Enter password..." required />
                <input type="regForm" id="firstname" name="firstname" placeholder="Enter first name..." required />
                <input type="regForm" id="lastname" name="lastname" placeholder="Enter last name..." required />
                <button type="submit" id="regButton">Register</button>
            </form>
           
        </div>
    </body>

</html>