<html>

    <head>
        <title>Welcome</title>
        <link rel="icon" type="image/png" href="/assets/1.png" />
        <script src="https://code.jquery.com/jquery-3.3.1.js"  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="  crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="login-page">
                <div class="header">
                    <% include nav.ejs %>
                        <div class="logo"></div>
                        <span id="hello">Todo List</span>

                    </div>
                   
                    <div class="mid-header">
                    </div>
            <div class="login-page-bg"></div>
            <div id="todo-table2">
                <h2>Welcome!
                    <span> hello</span>
                </h2>

           
   
            </div>
            </div>
        </div>
    </body>

</html>
