body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    border-style: solid;
    border-color: #181c22;
    border-width: 30px 0px;
    
    border-radius: 25px;
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.today{
    margin-left: 100px;
}

#day{
    
}

input:valid{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 280px 20px;
    
}

select:valid{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 280px 20px;
}

input[type="regForm"]:valid{
    background-color:#181c22;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 240px 10px;
}


#todo-table2{
    padding: 10px;
    width: 35em;
    background: #090d13;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}

#regForm{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50em;
    
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

.tesst{
 
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 1px;
    background:#181c22;
    border: 0;
    height: 65px;
    font-size: 20px;
    color: #989898;
}

#add-form{
    margin-left: 100px;
   
}

select{
    margin-top: 10px;
}



input[type="regform"]{
    width: 50%;
    padding: 10px;
    background:#181c22;
    border: solid;
    float: left;
    font-size: 20px;
    color: #989898;
}

#username:invalid:not(:focus):not(:placeholder-shown) {
    background: pink;
  
    visibility: visible;
} 

#password:invalid:not(:focus):not(:placeholder-shown){
    background: pink;

}



.pwMsg {
    display:none;
    background: #f1f1f1;
    color: #000;
    width: 50%;
    position: relative;

    margin: 5px;
}

.userMsg {
    display:none;
    background: #f1f1f1;
    color: #000;
    width: 50%;
    position: relative;

    margin: 5px;
}


button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#addButton{
    position: relative;
    margin-right: 140px;
    padding: 20px;
    width: 30%;
    height: 65px;
    float: right;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#regButton{
    padding: 30px;
    width: 50%;
    margin: 20px;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
 
}

#loginSubmit{
    padding: 30px;
    width: 50%;
    margin: 20px;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
 
}

.a{
    padding: 20px;
    margin: 5px;
    background:#181c22;
    position: relative;
    border-radius: 15px;
  
}

.x{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    list-style-position: inside;
    background: white;
}

.a .x {
    background: white;
    margin: 5px;
   
}


  /* Tooltip text */
.a .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
  
    bottom: 100%;
    left: 250%; 
    margin-left: 45px;
}


.x:hover {
    text-decoration: line-through;
    background: #ed3e3b;
    opacity: 0.3;
}

.a:hover .tooltiptext{
    visibility: visible;
}


.top{
    
    text-indent: -10000px;
    border-radius: 15px;
    position: absolute;
    width: 94%;
    background: white;
    
    margin-left: 22px;
    margin-top: -20px;
    
    padding: 45px;
    box-sizing: border-box;
}
h1{
   position: relative;
    background: url("/assets/logo.png") no-repeat left;
    margin-left: 1755px;
    margin-bottom: -45px;
    text-indent: -10000px;
    height: 140px;
    /*
    width: 95%;
    position: relative;
    color: #989898;
    font-family: tahoma;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    */

}

#hello{
    color: white;
    font-size: 55px;
    height: 20px;
    display: block;
    height: 2em;
}

#hello #name{
    color: #fcc602;
}

#logout{
    position: relative;
    width: 200px;
    top: 45px;
    left: 78.1em;
}



.a p{
    color: white;
    font-size: 30px;
}

.a span{
    display: block;
    margin-left: 40px;
}


.day{
    display: inline;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 30%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

#upcoming-events{
    display: block;
    font-size: 30px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 35px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .c-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }